@charset "utf-8";
/* CSS Document */

/*----*****---- << Buttons >> ----*****----*/
	
.button { display:inline-block !important; *display:inline; zoom:1; margin:10px 0px 0px; cursor:pointer; font-size:15px; border-radius:5px; }
.button:hover {  color:#fff; }

.button.small { padding:11px 20px; }
.button.medium { padding:16px 24px; border-radius:10px; }
.button.large { padding:21px 30px; font-size:16px; }
.button.xlarge { padding:28px 35px; font-size:18px; }

.button span { margin-left:8px; font-size:15px; }

.button.ico.medium { padding:7px 24px; }
.button.ico { font-weight:700; font-size:17px; line-height:58px; position:relative; }
.button.ico i { padding-right:19px; font-size:58px; float:left; margin-right:25px; }

.button.ico i:after { content: ""; height: 100%; position: absolute; left:103px; top: 0; width: 1px; }

.button.red { background:#E74D3C; border-left:1px solid #c84334; border-top:1px solid #c84334; }
.button.coral { background:#FF7F50; border-left:1px solid #dd6e45; border-top:1px solid #dd6e45; }
.button.green { background:#8aba23; border-left:1px solid #77a11e; border-top:1px solid #77a11e; }
.button.blue { background:#35aad8; border-left:1px solid #2e93bb; border-top:1px solid #2e93bb; }

.button.red:hover { background:#cf3c2c; border-left:1px solid #b33426; border-top:1px solid #b33426; }
.button.coral:hover { background:#e86230; border-left:1px solid #c9552a; border-top:1px solid #c9552a; }
.button.green:hover { background:#7aa127; border-left:1px solid #698b22; border-top:1px solid #698b22; }
.button.blue:hover { background:#2a8bb1; border-left:1px solid #247899; border-top:1px solid #247899; }


/*----*****---- << Vertical Tabs >> ----*****----*/
	
.tabs-vertical-container { float:left; width:100%; margin:0px 0px 20px; padding:0px; clear:both; }
ul.tabs-vertical-frame { float:left; width:31%; margin:0px; padding:0px 13px 0px 0px; }
ul.tabs-vertical-frame li { display:inline; width:98.5%; float:left; margin:0px; padding:0px; position:relative; border-right:5px solid; }
ul.tabs-vertical-frame li a { display:block;  border-bottom:5px solid #dcdce1; margin:0px; padding:18px 20px; background:#ffffff; color:#666666; }

ul.tabs-vertical-frame li.current a { color:#ffffff; border-bottom:5px solid; }

ul.tabs-vertical-frame li a span { background: #FFFFFF; *background: #FFFFFF !important; border: 5px solid #DCDCE1; *border: 5px solid #DCDCE1 !important; border-radius: 23px 23px 23px 23px; color: #666666; float: left; height: 10px; line-height: 10px; margin-top: -12px; margin-right:25px; padding: 10px; text-align: center; width: 10px; }

.tabs-vertical-frame-content { float:left; margin:-1px 0px 0px; padding:0px 0px 14px; }		
.tabs-vertical-frame-content h3 { line-height:20px; }


/*----*****---- << Pricing Table >> ----*****----*/
	
	.pricing-table { width:100%; margin:30px 0px 20px; padding:0px; float:left; }
	.pr-tb-col { position:relative; border:1px solid #d3dae5; background:#fff; width:100%; margin:0px; padding:0px; text-align:center; -webkit-transition:-webkit-box-shadow 0.2s ease-out; -moz-transition:-moz-box-shadow 0.2s ease-out; 	-o-transition:-o-box-shadow 0.2s ease-out; transition:box-shadow 0.2s ease-out; }
	
	.tb-title h5 { font-size:30px; color:#5a6d78; line-height:normal; margin-bottom:0px; }
	
	.guarantee, .tb-title h5 { padding:7px 10px; }
	.tb-title, .guarantee { box-shadow: 0 -7px 6px #f7f7f7 inset; }
	
	.tb-title, .guarantee, .price { background:#fff; border-bottom: 1px solid #d3dae5; }
	.guarantee { font-size:17px; color:#999999; padding-top:17px; padding-bottom:17px; }
	.guarantee p { margin-bottom:0; }
	
	.tb-header .price { box-shadow: 0 -29px 20px #f7f7f7 inset; padding:32px 20px; display:block; font-size:80px; }
	.tb-header .price span { font-size:15px; color:#666666; display:block; text-transform:capitalize; margin-top:15px; }
	
	.tb-content { list-style-type:none; margin:0px; padding:0px 25px 10px 25px; }
	.tb-content li { font-size:18px; color:#757575; border-bottom:1px solid #d3dae5; padding:10px 0px; line-height:25px; text-shadow:1px 1px 0px #fff; }
	.tb-content li strong { font-weight:600; }
	.pr-tb-col .buy-now { padding:0 20px 20px; margin:0px; position:relative; z-index:99; }
	
	.pr-tb-col, .tb-header .price, .tb-title h5, .pr-tb-col .buy-now { -webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear; }
	
	.pr-tb-col.selected, .pr-tb-col:hover { z-index:10; box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); }
	.pr-tb-col:hover { z-index:100; }
	
	.pricing-table.no-space .column { margin-right:0px; }
	.pricing-table.no-space .one-fourth { width:25%; } 	
	.pricing-table.no-space .one-third { width:33.3%; }	
	.pricing-table.no-space .one-half { width:50%; }
	.pricing-table.no-space .one-fifth { width:20%; }
	.pricing-table.no-space .one-sixth { width:16.6%; }
	
	.pricing-table.no-space .three-fourth { width:75%; }
	.pricing-table.no-space .two-third { width:66.6%; }
	.pricing-table.no-space .four-fifth { width:80%; }
	.pricing-table.no-space .three-fifth { width:60%; }
	.pricing-table.no-space .two-fifth { width:40%; }
	.pricing-table.no-space .two-sixth { width:33.2%; }
	.pricing-table.no-space .three-sixth { width:49.8%; }
	.pricing-table.no-space .four-sixth { width:66.4%; }
	.pricing-table.no-space .five-sixth { width:83%; }
	
	
	.pr-tb-col:hover:after, .pr-tb-col.active:after { border-bottom:none; content: ""; height: 98.9%; left: -1px; position: absolute; top: -1px; width: 97.5%; z-index: 9; }
	
	/*----*****---- << Progress Bars >> ----*****----*/
	.progress-bar-wrapper { text-align:center; }
	.progress-bar-content h4 { font-weight:600; text-transform:capitalize; }
	.progress-bar-content span.code { margin-bottom:15px; display:inline-block; }
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.pr-tb-col:hover:after, .pr-tb-col.active:after { width: 98%; }
	 }
	 